{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/estudiantes.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/cambiarColorCard.js') }}"></script>
    <script src="{{ asset('js/controlarRegistro.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Selecciona todos los botones "Ausente"
            const absentButtons = document.querySelectorAll('.card button');

            absentButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const card = button.closest('.card');

                    // Evita marcar como ausente si la tarjeta está activa
                    if (card.classList.contains('active-card')) {
                        return;
                    }

                    // Alternar el estado de ausencia
                    if (card.classList.contains('absent-card')) {
                        // Si ya está ausente, se revierte el estado
                        card.classList.remove('absent-card');
                        card.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                            checkbox.disabled = false;
                        });
                        button.textContent = 'Ausente';
                    } else {
                        // Si no está ausente, se marca como ausente
                        card.classList.add('absent-card');
                        card.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                            checkbox.disabled = true;
                        });
                        button.textContent = 'Ausente';
                    }
                });
            });
        });

    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('seleccionar_grupo') }}" class="btn-change-group">Cambiar de Grupo</a>
        <h1>Estudiantes de {{ grupo }}</h1>
        <div class="cards-container">
            {% for estudiante in estudiantes %}
                <div class="card inactive-card" data-student-id="{{ estudiante.id }}" data-group-id="{{ grupo.id }}">
                    <img src="{{ asset('img/foto_default.jpeg') }}" alt="{{ estudiante.apellidos }}">
                    <h2>{{ estudiante.apellidos }}, {{ estudiante.nombre }}</h2>
                    <ul>
                        {% for motivo in motivos %}
                            <li><label>
                                    <input type="checkbox" value="{{ motivo }}">
                                </label> {{ motivo }}</li>
                        {% endfor %}
                    </ul>
                    <p class="hora-salida"></p>
                    <button>Presente</button>
                </div>
            {% endfor %}
        </div>
    </div>
    <meta name="csrf-token" content="{{ csrf_token('csrf_token') }}">
{% endblock %}
