{% set current_path = app.request.get('_route') %}
<nav class="navbar">
    <div class="left">
        <div class="menu-icon" id="left-menu-icon">
            <i class="fas fa-bars menu-open" id="left-menu-icon-i"></i>
        </div>
        <div class="menu-items">
            {% if is_granted('ROLE_CONSERJE') %}
                <a href="{{ path('exterior') }}" class="{{ current_path == 'exterior' ? 'active' : '' }}">Listado Exterior</a>
            {% endif %}
            {% if is_granted('ROLE_DOCENTE') %}
                <a href="{{ path('seleccionar_grupo') }}" class="{{ current_path == 'seleccionar_grupo' ? 'active' : '' }}">
                    {{ current_path == 'seleccionar_grupo' ? 'Cambiar de Grupo' : 'Listado de Grupo' }}
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('registro') }}" class="{{ current_path == 'registro' ? 'active' : '' }}">Registro</a>
            {% endif %}
        </div>
    </div>
    <div class="middle">
        <img src="{{ asset('/img/logo_recortado.png') }}" alt="logo">
        <p>Paso Seguro</p>
    </div>
    <div class="right">
        <div class="menu-icon" id="right-menu-icon">
            <i class="fas fa-user menu-open" id="right-menu-icon-i"></i>
        </div>
        <ul class="menu-items">
            {% if app.user %}
                <li>
                    <p><i class="fa-solid fa-user-tie"></i> Conectado como {{ app.user.userName }}</p>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}"> <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
